.outterDiv{
    margin-top: 20px;
    display: grid;
    overflow-y: scroll;
    height: 75vh;
}

.topDiv{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    overflow: hidden;
}


.topSubDiv{
    height: 100px;
    width: 400px;
    background-color: black;
    border-radius: 10px;
    text-align: center;
}

.centerEle{
    display: grid;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    position: relative;

}

.centerEle > p{
    font-size: 20px;
    font-weight: bold;
}

.coinTrack{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.coinTrack > img{
    height: 50px;
    width: 50px;
    margin-right: 10px;
}

.astro:hover{
    cursor: pointer;
    
}

.astro{
    align-self: center;
    justify-self: center;
}

.astro:active{
    height: 150px;
    width: 150px;    
}

.coinTrack > h1{
    color: rgb(230, 230, 1);
}

.progressBar{
    position: relative;
    left: 42%;
    height: 250px;
    width: 250px;
    border-radius: 50%;
    background: conic-gradient(rgb(241, 53, 1) 2deg, rgb(125, 124, 124) 0deg);
    display: flex;
    align-items: center;
    justify-content: center;
}

.progressBar::before{
    content: "";
    position: absolute;
    height: 210px;
    width: 210px;
    border-radius: 50%;
    background-color: black;
}

@media (max-width:768px){
   .topSubDiv{
    width: 150px;
   }
   .progressBar{
    left: 30%;
   }
  
   
}