.main{
    width: 100VW;
    height: 70px;
    background-color: rgb(56, 56, 56);
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 20px 0px 20px;

}

a{
    text-decoration: none;
    color: white;
}

.logoDiv{
    height: 70%;
    width: 120px;
    display: flex;
    border-radius: 50px;
    align-items: center;
    background-color: black;
    justify-content: space-around;

}

.logoDiv > h2{
    color: white;
    font-size: 15px;
}

.logo{
height: 40px;
width: 40px;
border-radius: 20px;
}
  

.otherNav:hover{
    cursor: pointer;
}

.otherLinksDiv{
    width: 180px;
    height: 70%;
    background-color: rgb(1, 209, 209);
    margin-right: 50px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.otherLinksDiv > img{
   height: 30px;
   width: 30px;
}

.outterWalletDiv{
    height: 480px;
    width: 520px;
    background-color: gray;
    border-radius: 20px;
    position: absolute;
    left: 30%;
    top: 15%;
    z-index: 400;
    opacity: 0;
    transform: translateY(100px); 
    transition: opacity 0.4s ease, transform 0.4s ease;
    pointer-events: none;
}

.outterWalletDiv.visible {
    opacity: 1;
    transform: translateY(0); 
    pointer-events: all;
  }

.walletDiv{
    height: 400px;
    width: 500px;
    background-color: rgb(23, 23, 23);
    border-radius: 20px;
    z-index: 500;
    padding: 10px;
}



.top{
    display: flex;
    justify-content: space-between;
}

.top > img{
    height: 40px;
    width: 40px;
}

.top > img:hover{
    cursor: pointer;
}

.textWritten{
    width: 55%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
    left: 20%;
}

.textWritten > p{
    margin: 0;
    color: gray;
}

.textWritten > h2{
    margin: 5;
}

.openWallet{
    display: flex;
    background-color: rgb(33, 252, 252);
    border: 0;
    width: 300px;
    color:white;
    border-radius: 15px;
    justify-content: space-around;
    align-items: center;
    position: relative;
    left: 18%;
    margin: 20px;
}

.openWallet > img{
    height: 35px;
    width: 35px;
}

.allTonDiv{
    display: flex;
    justify-content: space-around;
}

.tonDivs{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    overflow: hidden;
    width: 100px;
    height: 100px;
    border-radius: 20px;
}

.tonDivs > img:hover{
    height: 70px;
    width: 70px;
}
.tonDivs > img{
height: 60px;
width: 60px;
border-radius: 10px;
margin-top: 10px;
margin-bottom: 5px;
}

.tonDivs > h4{
    margin-top: 0;
}


@media (max-width:768px){
    .logo{
       height: 90%;
    }
    .logoDiv > h2{
        font-size: 20px;
    }

    .outterWalletDiv{
        left:10%
    }

    .walletDiv{
        height: 400px;
        width: 400px;
    }

    .outterWalletDiv{
        width: 420px;
    }
   
}