.footer{
    width: 100%;
    height: 80px;
    background-color: rgb(56, 56, 56);
    position: fixed;
    bottom: 0%;
}

.allIcons{
    display: flex;
    justify-content: center;
    align-items: center;
}

.iconsDiv{
    display: flex;
    overflow: hidden;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    margin:10px;
    height: 70px;
    width: 60px;
}

.iconsDiv > img{
    height: 40px;
    width: 40px;
    margin-bottom: 0;
}

.iconsDiv > p{
    margin-top: 0;
    margin-bottom: 0;
}

.activeLink{
    box-shadow: 0 5px 5px 0 gray;
    border-radius: 5px;
}
